# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Pytest
.pytest_cache/

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/

# Test Reports
report.html
allure-results/
allure-report/

# Screenshots
test-screenshots/
screenshots/*.png

# OS
.DS_Store
Thumbs.db