# Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Test screenshots generated during execution
screenshots/*.png

# Allure
allure-results/
allure-report/

# Pytest HTML report
report.html

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db